@model IEnumerable<DocumentDetailViewModel>
@{
    ViewBag.Title = "Documents";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Documents</h2>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="file-manager">
                        <a class="btn btn-primary btn-block" asp-controller="Documents" asp-action="DocumentUpload">Adauga Document</a>
                        <div class="hr-line-dashed"></div>
                        <h5 class="tag-title">Tags</h5>
                        @foreach (var tag in ViewBag.Tags)
                        {
                            <ul class="tag-list" style="padding: 0">
                                <li><a>@tag</a></li>
                            </ul>
                        }
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div class="row">
                <div class="col-lg-12 docs-list">

                    @foreach (var document in Model)
                    {
                        <div class="file-box doc" data-tags="@string.Join(",", document.Tags)" id="document-@document.IdDocument">
                            <div class="file">
                                <div class="del-icon">
                                    <a onclick="deleteDocument(@document.IdDocument)" data-confirm="Esti sigur ca vrei sa stergi documentul @(document.Name)?" data-confirm-title="Stergere document" data-confirm-descripiton="Documentul va fi sters din sistem"><i class="img-responsive fa fa-times"></i></a>
                                </div>
                                <a asp-controller="Documents" asp-action="DocumentDetails" asp-route-id="@document.IdDocument">
                                    <span class="corner"></span>

                                    <div class="icon">
                                        <i class="img-responsive fa fa-file-text"></i>
                                    </div>
                                    <div class="file-name">
                                        @document.Name
                                        <br />
                                        <small>Added: @document.DateAdded.ToString("MMMM dd, yyyy")</small>
                                        <br />
                                        <small>Status: <span class="label label-primary">@document.DocumentStatus @document.CurrentVersion</span></small>
                                        <br />
                                        <small>Tags: @string.Join(", ", document.Tags)</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>

        $(function () {
            ConfirmDialog.init();
            @if (TempData.ContainsKey(Notifications.DOCUMENT_UPLOADED))
            {
                <text>window.toastr.success('@TempData[Notifications.DOCUMENT_UPLOADED]', 'Success');</text>
            }

            $(".tag-list > li > a").click(function () {
                $(this).toggleClass("tag-selected");

                if ($(".tag-selected").length === 0) {
                    $(".docs-list > .doc").each(function () {
                        $(this).fadeIn();
                    });
                    return;
                }

                var selectedTags = $.map($(".tag-selected"),
                    function(tag) {
                        return $(tag).text();
                    });
                $(".docs-list > .doc")
                    .each(function() {
                        var docTags = $(this).data("tags").split(",");
                        var insertion = selectedTags.filter(function(el) {
                            return docTags.indexOf(el) > -1;
                        });
                        if (insertion.length === selectedTags.length) {
                            $(this).fadeIn();
                        } else {
                            $(this).fadeOut();
                        }
                    });
            });
        });

        function deleteDocument(id) {
            $.post("/Documents/DocumentDelete",
                    { id: id },
                    function (result) {
                        if (result.success) {
                            window.toastr.success(result.message, 'Success');
                            $("#document-" + id).remove();
                        } else
                            window.toastr.warning(result.message, 'Warning');
                    })
                .fail(function (xhr, textStatus, errorThrown) {
                    window.toastr.error(xhr.responseText, 'Error!');
                });
        }

    </script>
}